@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET Core MVC - Vinyl Store</h1>
    <ul>
        <li>
            @Html.ActionLink("Shop", "GetAllVinyls", "Home")
        </li>
    </ul>
</div>

<h3>Newsletter</h3>
<partial name="NewsletterForm" />