@{
    ViewData["Title"] = "Success";
}

<div>
    <h3>
        Hi @ViewBag.FullName! <br />
        We will get a notification on - @ViewBag.Email, every time there is a discount on the following product - @ViewBag.Album 😊
    </h3>
</div>